:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer-container{
    height: 100%;
    width: 100vw;
}
/* <!-- background: linear-gradient(blue,rgb(43, 144, 238),rgb(72, 72, 214),rgb(23, 23, 161)); --> */
mat-drawer{
 /* From https://css.glass */
 background: linear-gradient(blue,rgb(90, 153, 212),rgb(24, 162, 226),rgb(23, 23, 161));
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(141, 30, 30, 0.3);
border-radius: 5px;
margin: 0 0 8px;

}
app-sidenav{
    color: rgb(1, 9, 54);
}

